.footer {
    border-top: 1px solid #333;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
    bottom: 0%;
    position: fixed;
    width: 100%;
    left: 0;
    

    
   
}

.footer span {
    font-weight: bold;
    color: #61dafb;
}

.footer a{
    font-weight: bold;
    color: white;
}